# Python bytecode files
__pycache__/
*.py[cod]

# Django-specific files
*.log
local_settings.py
db.sqlite3
media/
static/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Virtual environment
venv/
.env/

# Coverage reports
.coverage
*.cover
*.py,cover
nosetests.xml
coverage.xml

# mypy
.mypy_cache/

# pytest
.cache/

postgres-db/data

datas