Django==5.0
psycopg2-binary>=2.8,<3.0
dj-database-url
whitenoise==5.2.0
djangorestframework
djangorestframework-simplejwt
pillow==9.5.0
channels
channels_redis
daphne>=4.0.0
python-magic
djangorestframework-simplejwt[blacklist]
bunnycdn
django-bunny-storage==0.1.2
django-cors-headers
django-redis
django-storages
django-storages[boto3]
python-dotenv
boto3
drf-yasg
pytz
pyfcm>=1.5.6
requests
geopy
sendgrid
twilio
firebase-admin
ngrok
qrcode[pil]
pycryptodome